.footer{
    background: #21282e;
    color: #565d62;

    &__one{
        padding-top: 64px;
        > div:first-child{
            flex: 1 0 40%;
            padding-right: 30px;
            img{
                padding: 20px 20px 10px;;
                background: tomato;
                float: left;
                margin-right: 20px;
            }

            h4{
                padding: 20px;
                color: $white;
                text-transform: uppercase;

            }
            p{
                clear: both;
                padding-top: 50px;
                line-height: 1.6;
            }

            .icon{
                i{
                    padding: 20px 20px 20px 0;
                    font-size: 24px;
                }
            }
        }

        > div:nth-child(2){
            flex: 1 0 30%;
            padding:0 60px;

            h4{
                color: $white;
                padding-left: 10px;
                border-left: 2px solid $gold;
                margin: 20px 0;
            }

            li{
                padding: 10px 0;
            }
        }

        > div:last-child{
            flex: 1 0 30%;
            padding-left: 30px;

            h4{
                color: $white;
                padding-left: 10px;
                border-left: 2px solid $gold;
                margin: 20px 0;
            }

            li{
                
                .fas{
                    font-size: 24px;
                    padding: 20px 10px 0 0;

                }
                p{
                    padding: 10px;
                    font-weight: 300;
                }
            }
            
        }
    }

    &__three{
        padding:65px 0 40px;
        p{
            background: #191e22;
            padding: 20px;
            text-align: center;

        }
    }


}