.header{
    &__one{
        background: $darkBlue;
        padding: 10px;
        font-size: $font-sm;

        &-item{
            p{
                color: #5a5f63;
                font-weight: $fw-light;
            }
            a{
                color: $white;
                font-size: $font-sm;
                font-weight: $fw-bold;
                padding-right: 20px;

                i{
                    padding-right: 2px;
                }
            }
        }
    }

    &__two{
        box-shadow: 0px 4px 2px 0 #eee;

        .navbar{
            > div:first-child{
                flex-basis: 20%;
                
            }
            > div:nth-child(2){
                flex-basis: 70%;

                @include breakpoint-down(medium){
                    flex-basis: 0;
                }
                
            }
        }

        .logo{
            background-color: red;
            padding: 20px 24px 0;
        }

        .text{
            padding: 20px 24px;
            text-transform: uppercase;
            font-weight: $fw-black;
        }

        ul{
            li{
                padding: 22px 0;
                
                a{
                    font-weight: $fw-bold;
                    text-transform: uppercase;
                    padding-left: 5px;
                }

                a:hover:not(:last-child){
                    border-left: 2px solid red;
                }

                &:last-child{
                    background:  #ffbb02;
                    padding-left: 44px;
                    padding-right: 40px;
                    text-transform: uppercase;
                    font-weight: $fw-bold;

                    a {
                        color: #fff;
                    }
                }
            }
            :first-child a{
                border-left: 2px solid red;
                
            }

            
        }

        // Mobile menu

        .menu{
            padding: 20px;
            cursor: pointer;
            > div{
                width: 32px;
                height: 3px;
                background: $black;
            }
            > div:not(:last-child){
                margin-bottom: 4px;
            }
        }

        .overlay {
            height: 100%;
            width: 0;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: rgba(0,0,0, 0.9);
            overflow: hidden;
            transition: 0.5s;
          }
          
          .overlay-content {
            position: relative;
            top: 15%;
            width: 100%;
            text-align: center;
            margin-top: 30px;
            a {
                text-transform: uppercase;
            }
          }
          
          .overlay a {
            padding: 8px;
            text-decoration: none;
            font-size: 36px;
            color: #818181;
            display: block;
            transition: 0.3s;
          }
          
          .overlay a:hover, .overlay a:focus {
            color: #f1f1f1;
          }
          
          .overlay .closebtn {
            position: absolute;
            top: 20px;
            right: 45px;
            font-size: 60px;
          }
          
          @media screen and (max-height: 450px) {
            .overlay a {font-size: 20px}
            .overlay .closebtn {
            font-size: 40px;
            top: 15px;
            right: 35px;
            }
          }
        
    }
}

